*{
    margin: 0;
    padding: 0;
    font-family: Helvetica ,Arial, sans-serif;
}

body{

    background-color:rgba(26, 32, 38);
    
}


header{
    margin: 0px 30px 0 0;
    width: 100%;
    overflow: auto;
    
    
}

.logo{

    float: left;
    margin: 30px 150px 30px 200px;
    
}


.logo h2{ 

    color: #fff;
    font-size: 35px;
    font-weight: 700;


}


nav ul{
    width: auto;
    overflow:auto ;
}

nav ul li{

    display: inline-block;
    list-style: none;
    margin: 32px 30px 5px 0px;
    align-items: center;
}
nav ul li a{

    text-decoration: none;
    color: #fff;
    font-size: 23px;
    font-weight:lighter ;


    
    
}

.email{
margin:30px 0px 30px 100px;
}

.ele{
    display:inline ;
    
}


.name{
    width: 82%;
    height: 600px;
    background-image: url(/style/images/1.jpg);
    background-repeat:no-repeat ;
    background-clip:content-box ;
    background-position:center;
    background-size:cover;
    margin: 50px 0px 0px 30px ;
    position: absolute;
   
}
.name p{
     text-align:left;
    color:#7a9060;
    font-size: 70px;
    margin-top: 100px;
    margin-left: 80px;

}

.social{
    display:inline-grid ;
    margin: 100px 0 0 0;
    
}


.social p,img{
     
    writing-mode:vertical-rl;
    margin: 15px 0px 0px 130px;
     
}
.social img{


    margin: 15px 0px 0px 140px;

}
.social p{
    transform: scale(-1, -1);
    color: rgb(140, 140, 140);
    font-size: 34px;

}
.line1{

height: 150px;
width: 0px;
color: rgb(140, 140, 140);
margin: 12px 0px 0px 145px;
border-style:solid;

}

.icon{
    width: 16px;
    display:inline-block ;
    filter:brightness(80%);

}


.icon2{
    display:inline-block ;
    width: 22px;

}
 
.abut{
height: 500px;
display: inline-block;

margin: 70px 0 0 100px;
}


.about-us{
    display:inline-block;
    margin: 150px 0 0 0;
    transform: translateY(40px);
}

.about-us p{
    display:inline-block;
    font-size: 34px;
    color: rgb(140, 140, 140);
    vertical-align: middle;
    
    
}
.about-line-x{
width: 200px;

    border-style:solid ;
    color: wheat;
    display: inline-block;
    margin-left:80px ;
    margin-bottom: 10px;
}

.about-line-y{

    height: 400px;
    width: 0;
  border-style:solid ;
  color: wheat;
    margin-left:200px ;
    display: inline-block;
    position: absolute;
    
     
}
.apuot-p{
    display: inline-block;
    margin: 0px 0px 50px 700px;
    font-size: 34px;
    text-align:left;
    color: rgb(140, 140, 140);
    vertical-align: middle;
}


.our-line-y{

    height: 400px;
    width: 0;
  border-style:solid ;
  color: wheat;
    margin-left:49.2% ;
    display: inline-block;
    position: absolute;

}

.our-line-x{
    width: 200px;
    
        border-style:solid ;
        color: wheat;
        display: inline-block;
        margin-left:80px ;
        margin-bottom: 10px;
    }
    

 .our{

    display:inline-block;
    font-size: 34px;
    color: rgb(140, 140, 140);
    margin:0px 0px 0px 150px;
    vertical-align: middle;
    


 }   

.our-p{

    display: inline-block;
    
    margin: 00px 0px 50px 0px;
    font-size: 34px;
    text-align:left;
    color: rgb(140, 140, 140);
   vertical-align: middle;
}

.our-div{

    height: 500px;    
    margin: 70px 0 0 100px;

}

.oo{
    display: inline-block;
    float: right;
}
.about-line-y2{

    height: 400px;
    width: 0;
  border-style:solid ;
  color: wheat;
    margin-left:150px ;
    display:inline;
    position: absolute;
}

.num{

    color:#fed876;
    font-size: 90px;
    display: inline-block;
    vertical-align: middle;

}
.word{
    color: rgb(140, 140, 140);
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}
.p-1{
display: inline-block;
margin: 70px;
vertical-align: middle;

}

.our-project-text{
    margin-top: 60vh;
    margin-left: 32.85vh;
}

.our-project-text h2{
    color: #fff;
    font-size: 50px;
}

.project-01 {
    margin-top: 20vh;
    display: flex;
}

.project-01 img{
    width: 90vh; /* width of container */
    height: 60vh; /* height of container */
    object-fit: fill;
    margin-left: 12vh;
}

.projects-text {
    color: #fff;
    margin-top: 2vh;
}

.project-text {
    display:inline-block;
    color: #fff;
    margin-top: 2vh;
    margin-left: 10vh;
}

.projects-text-horizontal {
    display: flex;
}

.project-num {
    color: #fed876;
    font-size: 16vh;
}

.project-name {
    font-size: 5vh;
    margin-top: 10vh;
}

.project-desc {
    margin-top: 15vh;
    font-size: 5vh;
}
.why-choose-us{

margin-top: 40vh;

}

.line-why{
    border: solid wheat;
    height:40vh;
    width:0.5vw;
    display: inline-block;
    background-color: wheat;
    margin-left: 22vw;
}

.why-div{
    display: inline-block;
    vertical-align: top;
    margin-top: 5vh;
    margin-left: 3vw;
}
.why{
    color: rgb(140, 140, 140);
    font-size:xx-large;
    margin-bottom:10vh ;
    

}
.why-p{
    color: #fff;
    font-size:x-large;
}


.photo{
    height: 250vh;
    width: 76%;
background-color: #fff;

}




.first-p{
    
    background:linear-gradient(#1a2026f5, #1a202641), url(/style/images/1.png) no-repeat;
   
   
    width: 80%;
    height: 27%;
    margin-top: 10vh;
    transform: translatex(60%);

}

.sconde-p{

    background:linear-gradient(#1a2026f5, #1a202641), url(/style/images/2.png)  no-repeat;
    width: 80%;
    height: 27%;
    margin-top: 10vh;
    transform: translatex(60%);
}

.therd-p{

    background:linear-gradient(#1a2026f5, #1a202641), url(/style/images/3.png) no-repeat;
    width: 80%;
    height: 27%;
    margin-top: 10vh;
    transform: translatex(60%);
}

.box-1{

width: 50vw;
height: 30vh;
background-color: #fff;
transform: translatex(-60%) translatey(50%);
text-align: center;
font-size: xx-large;
vertical-align:middle;

}

.box-1 b{
  display: inline;
  flex-wrap: wrap;
  align-content:center;
transform: translateY(4vh) translateX(10vw);
   
}

.up-2 {
    opacity: 0.2;
    float: left;
    align-content:center;
}

.arrow{
    color: #fed876;
    margin-left: 15vw;
    font-size: 5vw;
    display: inline;
    
}

.page-footer{
    height: 100vh;
    width: 100%;
    color: white;
    font: bold 2em/2em monospace;
    display: flex;
    justify-content: center;
    align-items: center;
   
   background: linear-gradient(to right,#4d4b52c5, #565258cc), url(/style/images/4.jpg) no-repeat top center;
}

.footer-content {
    display: inline-block;
    text-align: center;
}

.footer-line-x{
    width: 100%;
    
        border-style:solid ;
        display: inline-block;
        margin-left:0px ;
        margin-bottom: 10px;
    }

.footer-icon1{
    
    display:inline-block ;
    width: 20px;
    margin-left: 0;
    
}        

.footer-icon{
    display:inline-block ;
    width: 30px;
    margin-left: 10vh;
    
} 

